.container {
  width: 40%;
  margin: 5% auto;
  border: 1px solid lightgray;
}

.title {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 4%;
}

.title-image {
  width: 70px;
  height: 60px;
}
.title-text-container {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
}

.title-text {
  padding: 3% 0;
  font-weight: 400;
  font-size: 1.65rem;
  width: 70%;
}

.title-text-img {
  height: 60px;
  margin:5%;
  border-radius: 100%;
  background-color: white;
  padding: 4%;
}

.order-container {
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
  text-align: center;
}

.order-text {
  font-size: 1.5rem;
}

hr {
  border: 3px solid #ffc000;
  width: 90%;
}

.scan-qr-container {
  background-color: white;
}

.scan-text {
  font-size: 1.75rem;
  text-align: center;
}

.scan-buttons {
  display: flex;
  justify-content: space-around;
  margin: 3% 3%;
}

.scan-btn {
  width: 40%;
  background-color: rgba(0, 0, 0, 0.12);
}

.delivery-btn {
  width: 40%;
  background-color: #01527c !important;
}

.map-container {
  width: 100%;
  text-align: center;
  background-color: #bfbfbf;
  opacity: 0.13;
  box-shadow: 1px #bfbfbf;
}

.map-text {
  padding: 30%;
  margin-bottom: 0;
}

.delivery-time-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.delivery-input {
  padding: 7%;
  width: 60%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 900;
  border: none;
  background-color: white;
  box-shadow: 10px #bfbfbf;
}

.delivery-button {
  width: 40%;
  background-color: #ffa124;
  color: white;
  font-size: 2rem;
  font-weight: 900;
  border: none;
  border-radius: 5px;
}

@media screen and (max-width : 756px) {
  .order-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    text-align: center;
  }

  .scan-buttons {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: 3% 3%;
  }

  .scan-btn {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.12);
    padding: 4%;
  }

  .delivery-btn {
    width: 100%;
    background-color: #01527c !important;
  }
}